<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!-- Animate.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <link rel="stylesheet" href="/admin.css">
    <style>
        body,
        html {
            background: url('/image1.jpg') no-repeat center center fixed;
            background-size: cover;
        }
    </style>
    <!-- Custom CSS for animations and layout -->
</head>

<body>

    <div class="wrapper">
        <!-- Sidebar -->
        <nav class="sidebar bg-dark">
            <div class="welcome-page mb-0">
                <img src="/avt_admin.png" class="mx-auto d-block"
                    style="width: 70px; height: 70px;border-radius: 41%; margin-bottom: 10px;">
                <p>Welcome to <b>administrator</b></p>
            </div>
            <ul class="list-unstyled components">
                <!-- class="active-nav" -->
                <!-- <li class="active"><a href="./dashboard.html"><i class="fa-solid fa-user"></i>Dashboard</a></li> -->
                <li onclick="listPageContent('product')" class="active product-nav-bar"><span><i
                            class="fa-solid fa-bag-shopping"></i>Products</span></li>
                <li onclick="listPageContent('order')" class="order-nav-bar"><span><i
                            class="fa-solid fa-receipt"></i>Orders</span></li>
                <li onclick="listPageContent('seller')" class="seller-nav-bar"><span><i
                            class="fa-solid fa-user"></i>Sellers</span></li>
                <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
            </ul>
        </nav>



        <!-- Page product Content -->
        <div class="page-content product-page ">
            <div style="display: flex;">
                <h2>Products List</h2>
                <button type="button" style="margin-left:20px ;height: 35px;align-items: center;"
                    class="btn btn-primary btn-sm" onclick="redirectToAddProduct()">Add New Product</button>
            </div>
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Barcode</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Exist Number</th>
                        <th scope="col">Import Price</th>
                        <th scope="col">Retail Price</th>
                        <th scope="col">Category</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Multiple rows of product data -->
                    <% products.forEach((p,index)=> { %>
                        <tr class="table-animate" style="background-color: #aeb5cb;">
                            <th scope="row">
                                <%= index+1 %>
                            </th>
                            <td>
                                <%= p.barcode %>
                            </td>
                            <td>
                                <%= p.name %>
                            </td>
                            <td>
                                <%= p.quantity %>
                                    items
                            </td>
                            <td>
                                <%= p.importprice %>
                            </td>
                            <td>
                                <%= p.retailprice %>
                            </td>
                            <td>
                                <%= p.category %>
                            </td>
                            <td>
                                <button style="width: 65px;" type="button"
                                    class="btn btn-primary btn-sm EditBtnDetailProduct" data-barcode="<%= p.barcode %>"
                                    data-name="<%= p.name %>" data-import="<%= p.importprice %>"
                                    data-retail="<%= p.retailprice %>" data-category="<%= p.category %>"
                                    data-quantity="<%= p.quantity %>" data-toggle="modal"
                                    data-target="#updateproduct">Edit</button>

                                <button style="width: 65px;" type="button" class="btn btn-danger btn-sm deleteProduct"
                                    data-barcode="<%= p.barcode %>" data-name="<%= p.name %>" data-toggle="modal"
                                    data-target="#deleteproduct">Delete</button>

                            </td>
                        </tr>
                        <% }) %>



                </tbody>
            </table>
        </div>


        <!-- Page list of seller Content -->
        <div class="page-content seller-page disable-page">
            <div style="display: flex;">
                <h2>Sellers List</h2>
                <button type="button" style="margin-left:20px ;height: 35px;align-items: center;"
                    class="btn btn-primary btn-sm" onclick="redirectToRegisterForm()">Add New Seller</button>
            </div>
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Active status</th>
                        <th scope="col">Lock status</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach((u,index)=> { %>
                        <tr class="table-animate" style="background-color: #a4d5a7;">
                            <th scope="row">
                                <%= index + 1 %>
                            </th>
                            <td>
                                <%= u.fullname %>
                            </td>
                            <td>
                                <%= u.email %>
                            </td>
                            <td>
                                <% if(u.active=='true' ){ %>
                                    <b>Verified</b>
                                    <%}else{%>
                                        <b>Not verify</b>
                                        <%}%>
                            </td>
                            <td>
                                <%if(u.lock=='true'){%>
                                    <i class="fa-solid fa-lock"></i>
                                    <%}else{%>
                                        <i class="fa-solid fa-lock-open"></i>
                                        <% } %>
                            </td>

                            <td>
                                <button type="button" class="btn btn-primary btn-sm lock" data-email="<%= u.email %>"
                                    data-toggle="modal" data-target="#resendEmail" onclick="resendEmail('<%= u.email %>')">
                                    Resend verification
                                </button>

                                <% if( u.lock=='false' ){ %>
                                    <button style="width: 65px;" onclick="lock('<%= u.email %>')" type="button"
                                        class="btn btn-danger btn-sm lock" data-email="<%=u.email %>"
                                        data-toggle="modal" data-target="#lockseller">
                                        Lock
                                    </button>
                                    <% } else{ %>
                                        <button style="width: 65px;" onclick="unlock('<%= u.email %>')" type="button"
                                            class="btn btn-danger btn-sm lock" data-email="<%=u.email %>"
                                            data-toggle=" modal" data-target="#unlockseller">
                                            UnLock
                                        </button>
                                        <% } %>
                                            <button type="button" class="btn btn-warning btn-sm delete"
                                                data-email="<%= u.email %>" data-toggle="modal"
                                                data-target="#detailseller">
                                                Detail
                                            </button>
                            </td>
                        </tr>
                        <%}) %>
                </tbody>
            </table>
        </div>




        <!-- Page list of orders Content -->
        <div class="page-content orders-page disable-page">
            <div style="display: flex;">
                <h2>Orders List</h2>
                <button type="button" style="margin-left:20px ;height: 35px;align-items: center;"
                    class="btn btn-primary btn-sm" onclick="redirectToRegisterForm()">Add New Product</button>
            </div>
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Id</th>
                        <th scope="col">Seller</th>
                        <th scope="col">Customer Phone</th>
                        <th scope="col">Price</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Updated At</th>
                    </tr>
                </thead>
                <tbody>
                    <% let totalPrice = 0 %>
                    <% orders.forEach((o,index) =>{ %>
                        <tr class="table-animate" style="    background-color: #e3c992;">
                            <th scope="row"><%= index+1 %></th>
                            <td><%= o.id %></td>
                            <td><%= o.seller %></td>
                            <td><%= o.customerphone %></td>
                            <td><%= o.price %> VND</td>
                            <td><%= o.createdAt %></td>
                            <td><%= o.updatedAt %></td>
                        </tr>
                        <% totalPrice+=parseFloat(o.price) %>
                    <% }) %>

                </tbody>
                
            </table>
            <h1>Total: <%= totalPrice %></h1>
        </div>


        

    <!-- resened email verify user -->
    <div id="resendEmail" class="modal fade" style="top: 30%">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">verification</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Send successfully</p>
                </div>

            </div>
        </div>
    </div>



    <!-- edit product -->
    <div id="updateproduct" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Update Product</h4>
                    <button type="button" class="close closeUpdate" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="barcode">Barcode</label>
                            <input disabled name="barcode" type="text" class="form-control" id="barcode-dialog"
                                placeholder="Enter product barcode">
                        </div>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input name="name" type="text" class="form-control" id="name-dialog"
                                placeholder="Enter product name">
                        </div>

                        <div class="form-group">
                            <label for="name">Quantity</label>
                            <input name="quantity" type="number" class="form-control" id="quantity-dialog"
                                placeholder="Enter product number">
                        </div>


                        <div class="form-group">
                            <label for="importprice">Import Price</label>
                            <input name="importprice" type="number" class="form-control" id="importprice-dialog"
                                placeholder="Enter product import price">
                        </div>

                        <div class="form-group">
                            <label for="retailprice">Retail Price</label>
                            <input name="retailprice" type="number" class="form-control" id="retailprice-dialog"
                                placeholder="Enter product retail price">
                        </div>


                        <button style=" width: 100%;" type="submit"
                            class="btn btn-primary update-product-btn">Update</button>
                    </form>

                </div>
                <div class="alert msg-update" style="text-align: center;display: none;">

                </div>

            </div>
        </div>
    </div>


    <!-- delete product -->
    <div id="deleteproduct" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Product</h4>
                    <button type="button" class="close closeRemove" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure to delete
                        <b class="name-remove-product"></b> ?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary confirm-removebtn">Remove</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                <div class="alert msg-remove" style="text-align: center;display: none;">

                </div>

            </div>
        </div>
    </div>


    <!-- detail user -->
    <div id="detailseller" class="modal fade" style="top: 15%">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Detail Seller</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body" style="font-size: 18px; text-align: center;">
                    <div>
                        <img src="/banner1.jpg" style="width: 185px; height: auto;">
                    </div>
                    <div style="display: flex; align-items: center;">
                        <p style="margin-right: 5px;"><b>Full Name:</b></p>
                        <p class="name-seller">Pham Phuoc Tan</p>
                    </div>
                    <div style="display: flex; align-items: center;">
                        <p style="margin-right: 5px;"><b>Email:</b></p>
                        <p class="email-seller">tanphuoc@gmail.com</p>
                    </div>
                    <div style="display: flex; align-items: center;">
                        <p style="margin-right: 5px;"><b>Phone:</b></p>
                        <p class="phone-seller">123456789</p>
                    </div>
                    <div style="display: flex; align-items: center;">
                        <p style="margin-right: 5px;"><b>Country:</b></p>
                        <p class="country-seller">HCM</p>
                    </div>
                    <div style="display: flex; align-items: center;">
                        <p style="margin-right: 5px;"><b>Create at:</b></p>
                        <p class="createAt-seller">15-02-2023</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.9.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/admin.js"></script>


</body>


</html>