<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!-- Animate.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <link rel="stylesheet" href="/admin.css">
    <style>
        body,
        html {
            background: url('/image1.jpg') no-repeat center center fixed;
            background-size: cover;
        }
    </style>
    <!-- Custom CSS for animations and layout -->
</head>

<body>

    <div class="wrapper">
        <!-- Sidebar -->
        <nav class="sidebar bg-dark" style="width: 176px;">
            <div class="welcome-page mb-0">
                <img src="/av3.png" class="mx-auto d-block" style="width: 50px; height: 50px;border-radius: 50%">

                <p class="text-center">Welcome to
                    <b style="color:#e71475">
                        <%= email.split("@")[0] %>
                    </b>

                    <button type="button" data-email="<%= email %>" class="btn btn-secondary btnEditInfoOnNav"
                        data-toggle="modal" data-target="#updateSeller">
                        Edit Info
                    </button>

                </p>

            </div>
            <ul class="list-unstyled components">
                <!-- class="active-nav" -->
                <!-- <li class="active"><a href="./dashboard.html"><i class="fa-solid fa-user"></i>Dashboard</a></li> -->
                <li onclick="listPageContent('order')" class="active order-nav-bar"><span><i
                            class="fa-solid fa-receipt"></i>Orders</span></li>
                <li onclick="listPageContent('statistic')" class="statistic-nav-bar"><span><i
                            class="fa-solid fa-chart-pie"></i>Reports</span>
                </li>
                <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
            </ul>
        </nav>



        <!-- Page list of orders Content -->
        <div class="page-content orders-page">
            <div style="display: flex;">
                <h2>Orders List</h2>
                <button type="button" style="margin-left:20px ;height: 35px;align-items: center;"
                    class="btn btn-primary btn-sm" onclick="redirectToAddOrder()">Add New Order</button>
            </div>
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Customer Phone</th>
                        <th scope="col">Price</th>
                        <th scope="col">Create Date</th>
                        <th scope="col">Update At</th>
                </thead>
                <tbody>
                    <% if(orders!=null){%>
                        <!-- Multiple rows of product data -->
                        <% orders.forEach(o=> { %>
                            <tr class="table-animate">
                                <th scope="row">
                                    <%= o.id %>
                                </th>
                                <td>
                                    <%= o.customerphone %>
                                </td>
                                <td>
                                    <%= o.price %>
                                </td>
                                <td>
                                    <%= o.createAt %>
                                </td>
                                <td>
                                    <%= o.updateAt %>
                                </td>
                            </tr>12:49 AM 12/17/2023

                            <% }) %>
                                <%}%>




                </tbody>
            </table>
        </div>


        <!-- Page report -->
        <div class="page-content statistic-page disable-page">
            <h2>Report</h2>
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Barcode</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Import Price</th>
                        <th scope="col">Retail Price</th>
                        <th scope="col">Category</th>
                        <th scope="col">Thumbnail</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Multiple rows of product data -->
                    <tr class="table-animate">
                        <th scope="row">1</th>
                        <td>1209384750293</td>
                        <td>iPhone 15 Pro Max</td>
                        <td>30,599,000 đ</td>
                        <td>34,990,000 đ</td>
                        <td>Phone</td>
                        <td><img src="iphone_thumbnail.jpg" alt="iPhone" style="width: 50px; height: auto;"></td>
                        <td>
                            <button class="btn btn-primary btn-sm">Edit</button>
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </td>
                    </tr>
                    <!-- Add more rows with different products as needed -->
                    <tr class="table-animate">
                        <th scope="row">2</th>
                        <td>9328475010293</td>
                        <td>Samsung Galaxy S22</td>
                        <td>22,500,000 đ</td>
                        <td>27,000,000 đ</td>
                        <td>Phone</td>
                        <td><img src="samsung_thumbnail.jpg" alt="Samsung" style="width: 50px; height: auto;"></td>
                        <td>
                            <button class="btn btn-primary btn-sm">Edit</button>
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </td>
                    </tr>

                    <tr class="table-animate">
                        <th scope="row">2</th>
                        <td>9328475010293</td>
                        <td>Samsung Galaxy S22</td>
                        <td>22,500,000 đ</td>
                        <td>27,000,000 đ</td>
                        <td>Phone</td>
                        <td><img src="samsung_thumbnail.jpg" alt="Samsung" style="width: 50px; height: auto;"></td>
                        <td>
                            <button class="btn btn-primary btn-sm">Edit</button>
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>

    </div>





    <!-- updateSeller-->
    <div id="updateSeller" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Update Product</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <!-- <form> -->
                    <div class="form-group">
                        <label for="barcode">username</label>
                        <input name="username" type="text" class="form-control" id="username-dialog"
                            placeholder="Enter username">
                    </div>
                    <div class="form-group">
                        <label for="name">Phone</label>
                        <input name="phone" type="number" class="form-control" id="phone-dialog"
                            placeholder="Enter phone">
                    </div>


                    <div class="form-group">
                        <label for="country">country</label>
                        <input name="country" type="text" class="form-control" id="country-dialog"
                            placeholder="Enter country">
                    </div>



                    <button style=" width: 100%; margin-bottom: 6px;" type="submit"
                        class="btn btn-primary update-seller-btn">Update</button>
                    <!-- </form> -->

                </div>
                <div class="alert msg-update" style="text-align: center;display: none;">

                </div>

            </div>
        </div>
    </div>



    <!-- detail user -->
    <div id="detailseller" class="modal fade" style="top: 30%">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Detail Seller</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div>
                        <img src="/banner1.jpg" style="width: 120px; height: auto;">
                    </div>
                    <div style="display: flex; align-items: center;">
                        <p style="margin-right: 5px;"><b>Full Name:</b></p>
                        <p class="name-seller">Pham Phuoc Tan</p>
                    </div>
                    <div style="display: flex; align-items: center;">
                        <p style="margin-right: 5px;"><b>Email:</b></p>
                        <p class="email-seller">tanphuoc@gmail.com</p>
                    </div>
                    <div style="display: flex; align-items: center;">
                        <p style="margin-right: 5px;"><b>Phone:</b></p>
                        <p class="phone-seller">123456789</p>
                    </div>
                    <div style="display: flex; align-items: center;">
                        <p style="margin-right: 5px;"><b>Country:</b></p>
                        <p class="country-seller">HCM</p>
                    </div>
                    <div style="display: flex; align-items: center;">
                        <p style="margin-right: 5px;"><b>Create at:</b></p>
                        <p class="createAt-seller">15-02-2023</p>
                    </div>
                    <div style="display: flex; align-items: center;">
                        <p style="margin-right: 5px;"><b>Total Order Check Out:</b></p>
                        <p class="total-order-seller">20</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.9.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/seller.js"></script>


</body>


</html>